<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>신천지 피하기</title>
</head>
<body>
    <h1>신천지 피하기</h1>
    <h2>공지</h2>
    {% if session.get('user_role') == 'admin' %}
    <a href="/create_announcement">공지 작성</a>
    {% endif %}
    <ul>
        {% for ann in announcements %}
        <li>
            <h3>{{ ann[1] }}</h3>
            {% if session.get('user_role') == 'admin' %}
                <form action="/delete_announcement/{{ ann[0] }}" method="POST" style="display:inline;">
                    <button type="submit" onclick="return confirm('Are you sure you want to delete this post?')">Delete</button>
                </form>
            {% endif %}
            <p><small>{{ ann[2] }}</small></p>
            <p><small>{{ ann[3] }}</small></p>
        </li>
        {% endfor %}
    </ul>

    <h2>정보</h2>
    <a href="/create_post">정보 작성</a>
    <table border="1">
        <tr>
            <th>Location</th>
            <th>Recommended</th>
            <th>Created_at</th>
            <th>Details</th>
            <th>Honored</th>
        </tr>
        {% for post in posts %}
        <tr>
            <td>{{ post[2] }}</td>
            <td>
                {{ post[4] }}
                <form action="/recommend/{{ post[0] }}" method="POST" style="display:inline;">
                    <button type="submit">추천</button>
                </form>
            </td>
            <td>{{ post[5] }}</td>
            <td>
                <a href="/post/{{ post[0] }}">자세히</a>
                {% if session['user_id'] == post[1] %}
                | <a href="/edit_post/{{ post[0] }}">편집</a>
                | <form action="/delete_post/{{ post[0] }}" method="POST" style="display:inline;">
                    <button type="submit" onclick="return confirm('Are you sure you want to delete this post?')">삭제</button>
                </form>
                {% endif %}
            </td>
            <td>
                {% if post[6] %}
                    H
                {% endif %}
            </td>

        </tr>
        {% endfor %}

    </table>
    <h2>분석</h2>
    {% if session.get('user_role') == 'analyst' %}
    <a href="/create_analysis">분석글 작성</a>
    {% endif %}
    <ul>
        {% for an in analysis %}
        <li>
            <h3>{{ an[1] }}</h3>
            {% if session.get('user_role') == 'analyst' %}
                <form action="/delete_analysis/{{ an[0] }}" method="POST" style="display:inline;">
                    <button type="submit" onclick="return confirm('Are you sure you want to delete this post?')">Delete</button>
                </form>
            {% endif %}
            <p><small>{{ an[2] }}</small></p>
            <p><small>{{ an[3] }}</small></p>
        </li>
        {% endfor %}
    </ul>

    {% if session.get('user_role') == 'admin' or session.get('user_role') == 'analyst'%}
    <a href="/user_info">유저들 정보</a>
    {% endif %}
    <br>
    <form action="/withdraw" method="POST" style="display:inline;">
        <button type="submit" onclick="return confirm('Are you sure you want to withdraw from this site?')">회원 탈퇴</button>
    </form>
</body>
</html>
