<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>정보 편집</title>
</head>
<body>
    <h1>정보 편집</h1>
    <form action="" method="post">
        <label for="location">위치:</label>
        <input type="text" id="location" name="location" value="{{ post[1] }}" required>
        <br>
        <label for="description">줄거리:</label>
        <textarea id="description" name="description" required>{{ post[2] }}</textarea>
        <br>
        <button type="submit">변경사항 저장</button>
    </form>
</body>
</html>
